<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VieTaxi-Chofer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>847A31BC1E0385C300F29F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>847A31D31E0385C400F29F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>847A31DE1E0385C400F29F22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
